<table>
  <tr cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
    <th *ngFor="let column of dataSource.columns" cdkDrag>
      <div (click)="sort(column)">
        <span>{{ column.name | snakeToRaw }}</span>
        <ng-container [ngSwitch]="column.sort">
          <i *ngSwitchCase="'asc'" class="fas fa-angle-up"></i>
          <i *ngSwitchCase="'desc'" class="fas fa-angle-down"></i>
        </ng-container>
      </div>
    </th>
  </tr>
  <tr *ngFor="let datum of dataSource.current">
    <td *ngFor="let column of dataSource.columns">{{ datum[column.name] }}</td>
  </tr>
</table>

<div cdkDropList cdkDropListOrientation="horizontal" class="example-list">
  <div class="example-box" *ngFor="let timePeriod of timePeriods" cdkDrag>{{timePeriod}}</div>
</div>
