<div class="search">
  <app-swapi-search (searchChanged)="searchChanged($event)"></app-swapi-search>
</div>
<div class="content">
  <ng-container *ngIf="people$ | async as people">
    <app-swapi-table
      [dataSource]="people"
      (columnChanged)="columnChanged($event)"
      (sortChanged)="sortChanged($event)"
    ></app-swapi-table>
    <mat-paginator
      [hidePageSize]="true"
      [length]="people.page.length"
      [pageSize]="10"
      (page)="pageChanged($event)"
    ></mat-paginator>
  </ng-container>
</div>
