<ng-container *ngIf="people$ | async as people">
  <div class="search">
    <app-swapi-search [term]="people.search" (searchChanged)="searchChanged($event)"></app-swapi-search>
  </div>
  <div class="content">
    <app-swapi-table
      [dataSource]="people"
      (columnChanged)="columnChanged($event)"
      (sortChanged)="sortChanged($event)"
    ></app-swapi-table>
    <mat-paginator
      [hidePageSize]="true"
      [length]="people.page.length"
      [pageIndex]="people.page.pageIndex"
      [pageSize]="people.page.pageSize"
      (page)="pageChanged($event)"
    ></mat-paginator>
  </div>
</ng-container>
